section.feed {
    padding: 60px;
    margin: 0 auto;
    max-width: 1080px;
}
section.feed > ul {
}
section.feed > ul > li {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #EDEDED;
    border-left: 4px solid transparent;    /*padding-left: 20px;*/
}
section.feed > ul > li.active {
    border-left-color: #161A1E;
}
section.feed > ul > li > img {
    width: auto;
    height: 100px;
    border-radius: 4px;
    margin-left: 30px;
}
section.feed > ul > li > summary {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #161A1E;
}
section.feed > ul > li.read > summary > h1 {

    /*color: #999;*/
}
section.feed > ul > li > summary > h1 {
    font-weight: 600;
    transition: 300ms all;
    font-size: 1.4em;
    margin-bottom: 5px;
    line-height: 1.3em;
    cursor: pointer;
}
section.feed > ul > li > summary > h2 {
    color: #999;
    margin-bottom: 10px;
}
section.feed > ul > li.read > summary > h2 > strong.read {
    display: none;
}
section.feed > ul > li > summary > h2 > strong.tag {
    background: transparent;
    color: #161A1E;
    border: 1px solid;
}
section.feed > ul > li > summary > h2 > strong {
    opacity: 1;
    transition: 300ms all;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    background: #3498db;
    color: white;
    font-size: 0.6em;
    padding: 5px 8px;
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2px;
    position: relative;
    top: -2px;
}
section.feed > ul > li > summary ul.users {
    display: flex;
    color: #999;
    flex-wrap: wrap;
}
section.feed > ul > li > summary ul.users li {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 20px;
}
section.feed > ul > li > summary ul.users img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
section.feed > ul > li > summary > ul.users h1 {
    margin-bottom: 3px;
    font-size: 0.8em;
    color: #3498db;
}
section.feed > ul > li > summary > ul.users h2 {
    font-size: 0.7em;
    color: #999;
}
section.feed > ul > li > summary > h3 {
    font-size: 0.8em;
    color: #999;
    margin-bottom: 7px;
}
section.feed > ul > li > summary > h3 > strong {
    color: #3498db;
}