section.feed {
    padding: 60px;
    margin: 0 auto;
    max-width: 1080px;
}
section.feed > ul {
}
section.feed > ul > li {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;
}
section.feed > ul > li > img {
    width: auto;
    height: 100px;
    border-radius: 4px;
    margin-left: 30px;
}
section.feed > ul > li > summary {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #161A1E;
}
section.feed > ul > li > summary > h1 {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 5px;
    line-height: 1.3em;
}
section.feed > ul > li > summary > h2 {
    color: #999;
    margin-bottom: 10px;
}
section.feed > ul > li > summary ul.users {
    display: flex;
    color: #999;
}
section.feed > ul > li > summary ul.users li {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
section.feed > ul > li > summary ul.users img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
section.feed > ul > li > summary > ul.users h1 {
    margin-bottom: 3px;
    font-size: 0.8em;
    color: #3498db;
}
section.feed > ul > li > summary > ul.users h2 {
    font-size: 0.7em;
    color: #999;
}
section.feed > ul > li > summary > h3 {
    font-size: 0.8em;
    color: #999;
    margin-bottom: 7px;
}
section.feed > ul > li > summary > h3 > strong {
    color: #3498db;
}