header {
}
header > h1 {
    background: #E7183F;
    color: white;
    text-transform: capitalize;
    padding: 120px 60px 60px;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1px;
    display: none;
}
header > nav {
    height: 80px;
    padding: 0px 60px;
    line-height: 80px;
    color: #161A1E;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #EDEDED;
    font-size: 0.8em;
}
header > nav > a {
    opacity: 0.5;
    margin-right: 60px;
}
header > nav > a.active {
    opacity: 1;
}